@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  	font-family: Arial, "Arial Black";
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 10px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  width: 200px;
  	background-image: url(images/footer-cols.png);
  /*background: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  */
}
#cssmenu > ul > li {
  margin: 0 0 2px 0;
}
#cssmenu > ul > li:last-child {
  margin: 0;
}
#cssmenu > ul > li > a {
  font-size: 12px;
  display: block;
  color: #ffffff;
  text-shadow: 0 0px 0px #000;
  
	background-image: url(images/footer-bottom.png);
  
  /*
  background: #565656;
  background: -moz-linear-gradient(#565656 0%, #323232 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #323232));
  background: -webkit-linear-gradient(#565656 0%, #323232 100%);
  background: linear-gradient(#565656 0%, #323232 100%);
  
  border: 1px solid #000;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  */
  
}
#cssmenu > ul > li > a > span {
  display: block;
  border: 1px solid #666666;
  padding: 6px 10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  font-weight: bold;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  background: #97be10;
  background: -moz-linear-gradient(#97be10 0%, #79980d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97be10), color-stop(100%, #79980d));
  background: -webkit-linear-gradient(#97be10 0%, #79980d 100%);
  background: linear-gradient(#97be10 0%, #79980d 100%);
  color: #ffffff;
  text-shadow: 0 0px 0px #000;
  border: 1px solid #79980d;
}
#cssmenu > ul > li.active > a span {
  border: 1px solid #97be10;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(images/icon_plus.png) 98% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(images/icon_minus.png) 98% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  padding: 5px 12px;
  display: none;
}
#cssmenu ul ul li {
  padding: 3px 0;
}
#cssmenu ul ul a {
  display: block;
  color: #bcbcbc;
  font-size: 12px;
  font-weight: bold;
}
#cssmenu ul ul a:hover {
  color: #79980d;
}




.fontface {
font-family:Cambria, Georgia, serif;
font-size:30px;
font-weight:400;
color:#FFFFFF;
}

.font1 {
font-family:Cambria, Georgia, serif;
font-size:20px;
font-weight:400;
color:#000000;
}
.font2 {
font-family:Cambria, Georgia, serif;
font-size:15px;
font-weight:400;
color:#CC0066;
}
.font3 {
font-family:Cambria, Georgia, serif;
font-size:15px;
font-weight:400;
color:#00000;
}
.font4 {
font-family:Cambria, Georgia, serif;
font-size:20px;
font-weight:400;
color:#00000;
}

.font5 {
font-family:Cambria, Georgia, serif;
font-size:30px;
font-weight:400;
color:#00000;
}



.style1 {	
    font-family: Cambria, Georgia, serif;
	font-size: 18px;
	font-weight: bold;
	color:#333333;
}
.style2 {	font-family: Cambria, Georgia, serif;
	font-size: 16px;
	font-weight: bold;
}
.style5 {color: #FFFFFF; font-weight: bold; }
.style6 {
	font-family: Cambria, Georgia, serif;
	font-size: 12px;
}
.style8 {color: #FFFFFF; font-weight: bold; font-family: Cambria, Georgia, serif;; font-size: 12px; }

.tables {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:12px;
    -moz-border-radius:6px;
	background-color:#FFFFFF;
}

.td, .th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

.th {
    background-color: blue;
    border-top: none;
}

.td:first-child {
     border-left: none;
}

}




