<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
		 <connectionStrings>
		  <add name="pengguna"    connectionString="Driver={SQL Server};Server=192.168.0.101;Database=pengguna;Uid=sa;Pwd=bululawang2014#;" />
		 </connectionStrings>
	 <system.web>
		<customErrors mode="Off"/>
     </system.web>
</configuration>